<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supos.app.mapper.WmsMaterialStorageLocationMapper">

    <resultMap id="BaseResultMap" type="com.supos.app.domain.entity.WmsMaterialStorageLocation">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="material_id" column="material_id" jdbcType="BIGINT"/>
        <result property="location_id" column="location_id" jdbcType="BIGINT"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="material_name" column="material_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,material_id,location_id,quantity,
        update_time,create_time
    </sql>
    <insert id="insertSelective" parameterType="com.supos.app.domain.entity.WmsMaterialStorageLocation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wms_material_storage_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="material_id != null">material_id,</if>
            <if test="location_id != null">location_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="update_time != null">update_time,</if>
            <if test="create_time != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="material_id != null">#{material_id},</if>
            <if test="location_id != null">#{location_id},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="update_time != null">#{update_time},</if>
            <if test="create_time != null">#{create_time},</if>
        </trim>
    </insert>
    <update id="updateMaterialStorageLocationById" parameterType="com.supos.app.domain.entity.WmsMaterialStorageLocation">
        UPDATE wms_material_storage_location
        <set>
            <if test="material_id != null">material_id = #{material_id},</if>
            <if test="location_id != null">location_id = #{location_id},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="update_time != null">update_time = #{update_time},</if>
            <if test="create_time != null">create_time = #{create_time}</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteMaterialStorageLocationById" parameterType="com.supos.app.domain.entity.WmsMaterialStorageLocation">
        DELETE FROM wms_material_storage_location WHERE id = #{id}
    </delete>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT l.*, m.name as material_name FROM wms_material_storage_location l LEFT JOIN wms_material m ON l.material_id = m.id
        <where>
            <if test="id != null and id != ''">
                AND l.id = #{id}
            </if>
            <if test="material_id != null">
                AND l.material_id = #{material_id}
            </if>
            <if test="location_id != null and location_id != ''">
                AND l.location_id = #{location_id}
            </if>
            <if test="quantity != null">
                AND l.quantity = #{quantity}
            </if>
            <if test="update_time != null">
                AND l.update_time = #{update_time}
            </if>
            <if test="create_time != null">
                AND l.create_time = #{create_time}
            </if>
        </where>
        ORDER BY l.material_id ASC
    </select>
</mapper>
